<section class="capabilities">
  <div class="container">
    <div class="capabilities__top">
      <h2 class="capabilities__title title">our capabilities</h2>
      <div class="capabilities__wrap">
        <div class="capabilities__wrap-text">
          Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore magna aliquam erat.
        </div>

        <button class="btn" type="button">all services</button>
      </div>
    </div>

    <ul class="capabilities__list">
      <li class="capabilities__item">
        <h3 class="capabilities__item-title">
          project and construction management
        </h3>
        <div class="capabilities__item-text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>

      <li class="capabilities__item">
        <h3 class="capabilities__item-title">
          structure audit and maintenance
        </h3>
        <div class="capabilities__item-text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>

      <li class="capabilities__item">
        <h3 class="capabilities__item-title">
          factory construction and modeling
        </h3>
        <div class="capabilities__item-text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
    </ul>
  </div>
</section>