<section class="our-story">
  <div class="container">
    <h2 class="title">our story</h2>
    <div class="our-story__inner">
      <div class="our-story__text">
        <p class="our-story__text our-story__text--bold">Founded in 2011 by John Mathew
          Smith,
          <span class="our-story__text our-story__text--blue">Konstruct</span> has
          become
          the number one construction management firm
        </p>
        <p>Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
          Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
        </p>
      </div>
      <ul class="our-story__list">
        <li class="our-story__item our-story__item--plan">we plan </li>
        <li class="our-story__item our-story__item--manage">we manage </li>
        <li class="our-story__item our-story__item--build">we build </li>
      </ul>
    </div>
  </div>
</section>