$white: #ffffff;
$gray-light: #E6E6E6;
$gray: #48555B;
$gray-dark:#334253;
$black-900:#171819;
$black-800: #141A20;
$blue: #00A4E5;

$xl: 1285px;
$l: 1024px;
$xm: 920px;
$m: 784px;
$xs: 690px;
$s: 500px;